<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.All4Pets">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".View_Profile"
            android:exported="true" />
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".FAQ"
            android:exported="true" />
        <activity
            android:name=".View_Feedback"
            android:exported="true" />
        <activity
            android:name=".Add_Review"
            android:exported="true" />
        <activity
            android:name=".Services"
            android:exported="true" />
        <activity
            android:name=".Ratings"
            android:exported="true" />
        <activity
            android:name=".Orders"
            android:exported="true" />
        <activity
            android:name=".Category"
            android:exported="true" />
        <activity
            android:name=".Find_Veterinary"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>