<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.All4Pets">



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity

            android:name=".Ratings.View_Profile"
            android:exported="true" />
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".Ratings.FAQ"
            android:exported="true" />
        <activity
            android:name=".Ratings.View_Feedback"
            android:exported="true" />
        <activity
            android:name=".Ratings.Add_Review"
            android:exported="true" />
        <activity



            android:name=".Category.petItemCollar"
            android:exported="true" />
        <activity
            android:name=".Category.itemC"
            android:exported="true" />
        <activity
            android:name=".disputes.Supliments"
            android:exported="true" />
        <activity
            android:name=".Category.petsItems"
            android:exported="true" />
        <activity
            android:name=".Category.Pets"
            android:exported="true" />
        <activity



            android:name=".disputes.UpdateDispute"
            android:exported="true" />
        <activity
            android:name=".disputes.DisputeList"
            android:exported="true" />
        <activity
            android:name=".disputes.OpenDispute"
            android:exported="true" />
        <activity
            android:name=".Category.OrdersList"
            android:exported="true" />


   
            

        <activity
            android:name=".Daycare.Daycare_ShowMore"
            android:exported="true" />
        <activity
            android:name=".Daycare.Fav_DaycareList"
            android:exported="true" />
        <activity
            android:name=".Daycare.Daycare_Results"
            android:exported="true" />
        <activity
            android:name=".Doctor.Confirmed_Booking"
            android:exported="true" />
        <activity
            android:name=".Doctor.Book_Appointment"
            android:exported="true" />
        <activity
            android:name=".Doctor.Fav_VetList"
            android:exported="true" />
        <activity
            android:name=".Doctor.Vet_ShowMore"
            android:exported="true" />
        <activity
            android:name=".Doctor.Vet_Results"
            android:exported="true" />
        <activity
            android:name=".Daycare.Find_Daycare"
            android:exported="true" />
        <activity
            android:name=".Ratings.Ratings"
            android:exported="true" />
        <activity
            android:name=".Category.Orders"
            android:exported="true" />
        <activity
            android:name=".Category.Category"
            android:exported="true" />
        <activity
            android:name=".Doctor.Find_Veterinary"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>